.container {
  padding: 16px;
  background-color: #0E0033;
}

h1{
  color:#D5D5D5
}
.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.carousel {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  color: #0E0033;
  padding-bottom: 1rem;
}

.carousel::-webkit-scrollbar {
  height: 8px;
}

.carousel::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}
