.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #2D3E50;
  background: linear-gradient(180deg, #4c79aa, #2D3E50, #0D0032);
  color: white;
  gap: 10px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.formBusca {
  position: relative;
  flex-grow: 1;
  display: flex;
  max-width: 400px;
}

.inputBusca {
  flex-grow: 1;
  padding: 6px 10px;
  border: none;
  border-radius: 6px;
  outline: none;
  margin-right: 8px;
  margin-top: 10px;
}

.btnBusca {
  padding: 6px 15px;
  background-color: #ff6600;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.btnCadastro {
  padding: 8px 15px;
  background-color: #0080ff;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.listaSugestoes {
  position: absolute;
  top: 100%; 
  left: 0;
  background-color: #1e103f; 
  border: 2px solid #7a57ff; 
  border-radius: 8px;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  list-style: none;
  padding: 0;
  margin: 4px 0 0;
  z-index: 10;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  color: white;
  font-weight: 500;
}

.listaSugestoes li {
  padding: 8px 12px;
  cursor: pointer;
}

.listaSugestoes li:hover {
  background-color: #352066;
}

.userBox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.userBox span {
  font-weight: bold;
  color: #fff;
}


