.banner {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  position: relative;
  margin-bottom: 32px;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), transparent);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 32px;
}

.overlay h2 {
  font-size: 40px;
  color:#D5D5D5
}

.overlay p {
  font-size: 20px;
  font-weight: bold;
  max-width: 500px;
  color:#D5D5D5
}

.overlay button {
  background-color:#F57317 ;
  color: white;
  border: none;
  padding: 12px 22px;
  border-radius: 8px;
  cursor: pointer;

}
button:hover {
  background-color: #a04102;
  transform: scale(1.015);
}